.order-history {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin-left: 200px;
}

.order-history h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.order-history-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column; /*Change the flex direction to column */
    align-items: flex-start; /*Align items to the start */
}

.order-history-section {
    width: 100%;
    flex: 1;
    background-color: #808080;
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.order-history-section:last-child {
    margin-right: 0;
}

.order-history-section h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

.order-history-item {
    background-color: #b6b6b6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.order-history-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-history-item-header h3 {
    color: #333;
    font-size: 18px;
    margin: 0;
}

.order-history-item-header h4 {
    color: #666;
    font-size: 14px;
    margin: 0;
}

.order-history-item-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.order-history-item-body-left,
.order-history-item-body-right {
    flex: 1;
}

.order-history-item-body-left p,
.order-history-item-body-right p {
    color: #666;
    font-size: 14px;
    margin: 0;
}

.order-history-item-body-left p + p {
    margin-top: 5px;
}

.order-history-item-body-right p + p {
    margin-top: 5px;
}
