@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

.sidebar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(255, 147, 85, 0.2);
    border-radius: 15px;
}

.sidebar-menu li.active {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 5px;
}


.sidebar-menu a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sidebar-menu li:hover {
    background-color: rgba(252, 252, 252, 0.5);
    color: black;
}

.sidebar-menu li.active:hover {
    background-color: rgba(9, 255, 0, 0.5);
    color: white;
}

.sidebar-menu a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #2f323a;
    padding: 30px 0;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
}

.sidebar-nav li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sidebar-nav li a:hover {
    background-color: #333;
}

.sidebar-nav li a.active {
    background-color: #333;
    color: #fff;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #2f323a;
    text-align: center;
    font-size: 12px;
    color: #888;
}
