.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Responsive styles for different screen sizes */
@media screen and (max-width: 1024px) {
  /* CSS rules for screens up to 1024px */
}

@media screen and (max-width: 768px) {
  /* CSS rules for screens up to 768px */
}

@media screen and (max-width: 480px) {
  /* CSS rules for screens up to 480px */
}
